<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.se.pcremote.android" android:versionCode="1"
	android:versionName="1.0">
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-sdk android:minSdkVersion="7" />

	<application android:icon="@drawable/pc_remote" android:label="@string/app_name" android:debuggable="true">
        <provider android:name=".PCRemoteProvider" android:authorities="com.se.pcremote.android.pcremoteprovider" /> <!-- @string/provider_authority does not work for SDK 7... -->
        <service android:name=".PCConnection" />
		<activity android:name=".ui.controlpad.ControlPad" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
        <activity android:name=".ui.InstallServer" android:label="@string/install_server" />
        <activity android:name=".ui.key.KeyList" android:label="@string/select_key">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/com.se.pcremote.key" /> <!-- @string/mime_type_key does not work for SDK 7... -->
            </intent-filter>
        </activity>
		<activity android:name=".ui.layout.LayoutList" android:label="@string/manage_layouts">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.android.cursor.dir/com.se.pcremote.layout" /> <!-- @string/mime_type_layout does not work for SDK 7... -->
			</intent-filter>
		</activity>
		<activity android:name=".ui.layout.LayoutPreferences">
			<intent-filter>
				<action android:name="android.intent.action.EDIT" />
				<action android:name="android.intent.action.INSERT" />
				<action android:name="android.intent.action.INSERT_OR_EDIT" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.android.cursor.dir/com.se.pcremote.layout" /> <!-- @string/mime_type_layout does not work for SDK 7... -->
				<data android:mimeType="vnd.android.cursor.item/com.se.pcremote.layout" /> <!-- @string/mime_type_layout_id does not work for SDK 7... -->
			</intent-filter>
		</activity>
		<activity android:name=".ui.MainPreferences" />
        <activity android:name=".ui.pc.DetectPCs" android:label="@string/detect_pcs" />
		<activity android:name=".ui.pc.PCList" android:label="@string/manage_pcs">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.android.cursor.dir/com.se.pcremote.pc" /> <!-- @string/mime_type_pc does not work for SDK 7... -->
			</intent-filter>
		</activity>
		<activity android:name=".ui.pc.PCPreferences">
			<intent-filter>
				<action android:name="android.intent.action.EDIT" />
				<action android:name="android.intent.action.INSERT" />
				<action android:name="android.intent.action.INSERT_OR_EDIT" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.android.cursor.dir/com.se.pcremote.pc" /> <!-- @string/mime_type_pc does not work for SDK 7... -->
				<data android:mimeType="vnd.android.cursor.item/com.se.pcremote.pc" /> <!-- @string/mime_type_pc_id does not work for SDK 7... -->
			</intent-filter>
		</activity>
        <activity android:name=".ui.ReportBug" android:label="@string/report_bug" />
        <activity android:name=".ui.RequestEnhancement" android:label="@string/request_enhancement" />
	</application>
</manifest>